html {
	background-color: #000000;
	scroll-behavior: smooth;
}

.is-white {
	color: hsl(0, 0%, 96%);
}

.navbar {
	width: 100vw;
	height: 10vh;
	background-image: url("../images/DZRTFRST_red.jpeg");

	position: fixed;
	z-index: 998;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: -0.3vw;
}

.nav-gradient {
	width: 100vw;
	height: 10vh;
	position: fixed;
	background: linear-gradient(to bottom, transparent 0%, black 85%);
}

.navbar-brand {
	height: 10vh;
}

.navbar-burger {
	height: 10vh;
	color: hsl(0, 0%, 96%);
	z-index: 999;
}

.is-active {
	background-color: hsl(0, 0%, 4%);
	color: hsl(0, 0%, 96%);
}

a:hover {
	color: hsl(0, 0%, 100%);
	text-shadow: 1em;
	text-decoration: underline;
	font-weight: bold;
}

.navbar-menu {
	height: 100%;
}

.dtop-menu-item {
	color: #ffffff;
	font-weight: bold;
}

a.dtop-menu-item:hover {
	color: #ffffff;
	background-color: rgba(255, 255, 255, 0.1);
}

.home-background {
	background-color: #06101a;
	width: 100%;
	height: 100vh;
	background-image: url("../images/home.JPG");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.music-background {
	background-color: #000000;
	width: 100%;
	height: 100vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.events-background {
	background-color: #000000;
	width: 100%;
	height: 100vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.contact-background {
	background-color: #000000;
	width: 100%;
	height: 100vh;
	background-image: url("../images/homepage.JPG");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.footer {
	background-color: #000000;
}

.footer-text {
	color: #fff;
}

.credit-gradient {
	background: linear-gradient(
		90deg,
		rgb(123, 91, 199) 0%,
		rgb(234, 56, 141) 40%
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 450px) {
	.nav-gradient {
		width: 100vw;
		height: 10.4vh;
		position: fixed;
		background: linear-gradient(to bottom, transparent 0%, black 85%);
	}
	.home-background {
		background-color: #06101a;
		width: 100%;
		height: 100vh;
		background-image: url("../images/home.JPG");
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
	.contact-background {
		background-color: #000000;
		width: 100%;
		height: 100vh;
		background-image: url("../images/homepage.JPG");
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
}

@media only screen and (min-width: 769px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1200px) {
}
